body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: purple;
}

.form-container,
.table-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input,
.form-container textarea,
.form-container button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.form-container button {
    background-color: purple;
    color: white;
}

table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.btn-delete {
    background-color: red;
    color: white;
    padding: 5px;
    cursor: pointer;
}


